POSTGRES_IMAGE=postgres:16-alpine
POSTGRES_DB=fraud_rule_engine
POSTGRES_USER=fraud
POSTGRES_PASSWORD=fraud
POSTGRES_HOST_PORT=5432
APP_HOST_PORT=8080
FRAUD_SECURITY_JWT_ISSUER_URI=fraud-rule-engine-local
FRAUD_SECURITY_JWT_AUDIENCES=fraud-rule-engine-service
FRAUD_SECURITY_JWT_PUBLIC_KEY_LOCATION=classpath:security/local-dev-public-key.pem
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info,metrics,prometheus
JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0
