<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <module name="FileTabCharacter"/>

    <module name="LineLength">
        <property name="max" value="140"/>
        <property name="ignorePattern" value="^package .*|^import .*|https?://"/>
    </module>

    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>

        <module name="CustomImportOrder">
            <property name="customImportOrderRules" value="STATIC###SPECIAL_IMPORTS###STANDARD_JAVA_PACKAGE###THIRD_PARTY_PACKAGE"/>
            <property name="specialImportsRegExp" value="^com\.capitec\."/>
            <property name="standardPackageRegExp" value="^java\."/>
            <property name="thirdPartyPackageRegExp" value="^(jakarta|org)\."/>
            <property name="separateLineBetweenGroups" value="true"/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
        </module>

        <module name="LeftCurly">
            <property name="option" value="nl"/>
            <property name="tokens" value="CLASS_DEF,INTERFACE_DEF,ENUM_DEF,RECORD_DEF,CTOR_DEF,METHOD_DEF"/>
        </module>

        <module name="Indentation"/>
    </module>
</module>
